<main class="content-wrapper">
    <h1 class="section-title">Survey detail</h1>
    <ul class="projects-list w-list-unstyled">
    {{#each survey}}
      <li class="project-card">
        <a class="card-link w-inline-block" href="/surveyspage">
          <div class="survey-detail">
            <div class="card-title">Survey</div>
            <div class="project-card-title">{{this.detail.title}}</div>
            <div>{{this.detail.desc}}</div>
            <div class="project-card-footer">
              <div class="project-card-dates">{{this.detail.start}} &#x279E; {{this.detail.end}}</div>
              <div class="project-card-id">#{{this.detail.id}}</div>
            </div>
          </div>
          <div class="survey-site">
            <div class="card-title">Locality</div>
            <div class="project-card-title">Site name...</div>
            <p>From the Hamilton Hwy travel north up Common Rd...</p>
            <div class="gps-location">
              <div>Lat : 144.0447</div>
              <div>Lat : 144.0447</div>
            </div>
            <div>This is some text inside of a div block.</div>
            <div class="project-card-footer">
              <div class="project-card-dates">Accuracy : 50 m</div>
              <div class="project-card-id">#1214</div>
            </div>
          </div>
        </a>
      </li>
    {{/each}}
    </ul>
  </main>