<main class="content-wrapper">
  <h1 class="section-title">Survey detail</h1>
  <ul class="projects-list w-list-unstyled">
    {{#each survey}}
    <li class="project-card">
      <a class="card-link w-inline-block" href="/project/{{this.id}}/surveys">
        <div>
          <div class="project-card-title">{{this.title}}</div>
          <div>Status : {{this.status}}</div>
          <div class="project-card-footer">
            <div class="project-card-dates">{{this.start}} &#x279E; {{this.end}}</div>
            <div class="project-card-id">#{{this.id}}</div>
          </div>
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
</main>