<main class="content-wrapper">
    <div class="content">
      <h1 class="section-title">Species list</h1>
      <a class="card-link method-card w-inline-block" href="#">
        <div>
          <div class="row">
            <div>Method :</div>
            <div class="response">{{method.name}}</div>
          </div>
          <div class="row">
            <div>Discipline :</div>
            <div class="response">{{method.discipline}}</div>
          </div>
          {{#if method.area}}
          <div class="row">
            <div>Area sampled :</div>
            <div class="response">{{method.area}}</div>
          </div>
          {{/if}}
          {{#if method.obs}}
          <div class="row">
            <div>Number of Observers :</div>
            <div class="response">{{method.obs}}</div>
          </div>
          {{/if}}
          <div class="row">
            <div>Number of species :</div>
            <div class="response">{{method.species}}</div>
          </div>
          <div class="project-card-footer">
            {{#if method.dateDisplay}}
            <div class="project-card-dates">{{this.method.start}} &#x279E; {{this.method.end}}</div>
            {{/if}}
            <div class="project-card-id"><span class="number-sign">#</span>{{method.id}}</div>
          </div>
        </div>
      </a>
      <div class="w-form">
        <form action="/survey/:id/species" method="post" data-name="Email Form" id="email-form" name="email-form">
          <div class="actions-bar">
            <a class="add-species-button w-button" href="/survey/{{survey.id}}/method/{{method.id}}/taxonRecord">add Taxon</a>
            <input class="delete-button w-button" data-wait="Please wait..." type="submit" value="Delete">
          </div>
          <ul class="cards-list w-list-unstyled">
          {{#each taxon}}
            <li class="card">
              <a class="card-inner-link w-inline-block" href="#">
                <div>
                  <div>
                  {{#if this.commonNme}}
                    {{this.commonNme}}<br>
                  {{/if}}
                    {{this.commonName}}</div>
                  <div>{{this.scientificName}}</div>
                  {{#if this.totalCountInt}}
                  <div class="taxon-count">Count : {{this.totalCountInt}}</div>
                  {{/if}}
                </div>
              </a>
              <div class="card-edit">
                <div class="taxon-id"><span class="number-sign">#</span>{{this.taxonId}}</div>
                <div class="w-checkbox w-clearfix">
                  <input class="w-checkbox-input" data-name="Select" id="{{this.taxonId}}" name="Select" type="checkbox">
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </main>